$tipografia: 'Nunito', sans-serif;
$fondo-body: rgb(229, 242, 230);
$fondo-cards: rgb(255, 255, 255);
$tamano-titulo: 50px;
$tamano-texto-secundario: 20px;
$titulo-cards: 25px;
$tamano-texto-cards: 15px;
$color-texto: rgb(202, 99, 164);
$color-titulo:  rgb(255, 255, 255);



$fuentes:(
    thin:200,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);